@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-white: white;
    --color-coral: #F87A53;
    --color-light-coral: #FA9B7E;
    --color-dark-coral: #F65B2B;
    --color-charcoal: #31393D;
    --color-seafoam-green: #ABC0B6;
    --color-jungle-green: #33443C;
    --color-gray: #D8DDE0;
    --color-blue-gray: #748790;
    --color-light-gray: #E0DBD8;

    --font-primary: 'Outfit', sans-serif;

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-250: 250;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
}

@layer base {
    body {
        font-family: var(--font-primary), serif;
    }
}