@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-white: white;
    --color-red: #E72447;
    --color-coral: #F87A53;
    --color-light-coral: #FA9B7E;
    --color-dark-coral: #F65B2B;
    --color-charcoal: #31393D;
    --color-seafoam-green: #ABC0B6;
    --color-jungle-green: #33443C;
    --color-gray: #D8DDE0;
    --color-blue-gray: #748790;
    --color-light-gray: #E0DBD8;
    --color-light-gray2: #F0F2F3;

    --font-primary: 'Outfit', sans-serif;

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-250: 250;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
}

@layer base {
    body {
        font-family: var(--font-primary), serif;
        max-width: 90rem;
        margin: 0 auto;

    }
}

.r-estate-descriptions {
    display: flex;
}

.r-estate-descriptions span {
    position: relative;
    color: var(--color-charcoal);
    font-size: .75rem;
    line-height: 1.125rem;
    padding: 0 .25rem;
}

.r-estate-descriptions span::after {
    position: absolute;
    content: '';
    background: var(--color-charcoal);
    right: 0;
    top: .1875rem;
    width: .0625rem;
    height: .75rem;
}

.footer-link::after {
    position: absolute;
    content: '';
    background: white;
    right: 0;
    top: .375rem;
    width: .0625rem;
    height: .75rem;
}

.rooms-filter__button:last-child {
    margin-right: 12px;
}

.rooms-filter__button:first-child {
    margin-left: 12px;
}

.r-estate-descriptions span:last-child::after {
    display: none;
}

.footer-link:last-child::after {
    display: none;
}

.header-buttons_container button {
    font-size: 1rem;
}

.breadcrumb {
    padding: 0
}

.house-card__label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (min-width: 340px) and (max-width: 768px) {
    html {
        font-size: 12px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}